NODE_ENV=development
DISCORD_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_GUILD_ID=
LH_SSO_URL=https://auth.legacyhosting.xyz
LH_DISCORD_INTERNAL_TOKEN=replace-with-at-least-32-random-characters
DISCORD_ROLE_FOUNDER_ID=
DISCORD_ROLE_MANAGEMENT_ID=
DISCORD_ROLE_ADMINISTRATOR_ID=
DISCORD_ROLE_DEVELOPER_ID=
DISCORD_ROLE_INFRASTRUCTURE_ID=
DISCORD_ROLE_SUPPORT_ID=
DISCORD_ROLE_SALES_ID=
